@import "../../styles/variables";
@import "../../styles/respsonsive";

// life style

.list-stories_2 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
    transform: translateY(-100px);
  @include tablet {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}

.list-stories {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-column-gap: 20px;
  margin: 100px 0;

  @include tablet {
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 0px;
  }
  @include mobile {
    grid-template-columns: 1fr;
    grid-column-gap: 0px;
  }
}
