@import "../../styles/variables";
@import "../../styles/respsonsive";

.form {
  margin: 0 30px;
  background-color: $bgButtonColor;
  @include mobile-tablet {
    margin: 0;
  }

  .form-wrap {
    color: #fff;
    margin: 0 auto;
    text-align: center;
    padding: 80px 0;

    @include mobile {
      margin: 0 60px;
    }
  }

  .form-heading {
    color: $whiteColor;
    font-size: 3.6rem;
    font-weight: 400;
    line-height: 50px;
    margin-top: 15px;
    margin-bottom: 25px;
  }
  form {
    @include mobile {
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr;
    }

    .form-input {
      width: 350px;
      color: $whiteColor;
      font-size: 1.2rem;
      line-height: 18px;
      font-weight: 700;
      margin-right: 10px;
      padding: 18px 24px;
      letter-spacing: 2px;
      text-transform: uppercase;
      outline: none;
      background-color: transparent;
      border: 0.1px solid #2f303e;
      transition: border 400ms ease;
      
      &:hover {
        border: 1px solid #cccccc;
      }

      @include mobile {
        width: auto;
        margin-right: 0px;
        margin-bottom: 10px;
        text-align: center;
      }
    }

    .form-btn {
      color: #1d1f2e;
      font-size: 1.2rem;
      line-height: 18px;
      font-weight: 700;
      padding: 18px 24px;
      text-align: center;
      letter-spacing: 2px;
      text-transform: uppercase;
      border-radius: none;
      &:hover {
        cursor: pointer;
      }

      @include mobile {
        width: 100%;
      }
    }
  }
}
