@import "../../styles/variables";
@import "../../styles/respsonsive";
@import "../../styles/general_style.scss";

.main {
  width: 100%;
}

.bg-main_home {
  position: relative;
  width: 100vw;
  height: 100vh;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.banner {
  position: relative;
  padding: 0 30px;
  height: 530px;
  max-width: 1440px;
  margin: 0 auto 100px;
  @include mobile-tablet {
    width: 100%;
    padding: 0;
  }

  &-img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    background-image: linear-gradient(
      180deg,
      rgba(5, 8, 39, 0.4),
      rgba(5, 8, 39, 0.4)
    );
  }
}

.banner-desc {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: $whiteColor;
  @include mobile-tablet {
    width: 80%;
  }

  &_sentence {
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 1.8rem;
    letter-spacing: 2px;
    opacity: 0.8;
  }

  &_heading {
    font-size: 4.8rem;
    font-weight: 400;
    line-height: 6rem;
    margin: 0;
  }

  &_sub-desc {
    font-size: 1.8rem;
    font-weight: 400;
    opacity: 0.8;
    padding-bottom: 20px;
  }
}

// content

.content {
  display: block;
  margin: 0 141px 100px;
  text-align: center;
  @include tablet {
    margin: 0 90px 100px;
  }
  @include mobile {
    margin: 0 60px 100px;
  }

  &-heading {
    color: $bgButtonColor;
    font-size: 2.8rem;
    line-height: 40px;
    font-weight: 300;
    margin: 20px 0 15px;
  }

  &-desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    color: rgba(29, 31, 46, 0.7);
    margin-bottom: 15px;
  }
}

// magazine

.magazine {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 20px;
  margin: 100px 0;

  @include mobile-tablet {
    height: 551px;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr;
    text-align: center;
  }

  @include mobile {
    height: auto;
    grid-template-rows: 60% 1fr;
  }
}

.magazine-img {
  width: 100%;
  display: grid;
  grid-template-columns: 6.5fr 3.5fr;
  grid-column-gap: 20px;
  @include tablet {
    width: 60%;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  @include mobile {
    width: 85%;
    grid-template-columns: 100%;
    grid-template-rows: 41% 29%;
    grid-row-gap: 20px;
    margin: 0 auto;
  }

  .magazine-main_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .magazine-img_wrap {
    width: 100%;
    display: grid;
    grid-row-gap: 20px;
    @include mobile {
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 20px;
    }

    .magazine-sub_img {
      width: 100%;
      height: 100%;
    }
  }
}

.magazine-content {
  padding-left: 60px;
  @include mobile-tablet {
    padding: 0;
  }
  .magazine-content_headline {
    color: $textColor;
    opacity: 0.8;
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 2px;
    text-transform: uppercase;
  }

  .magazine-content_heading {
    color: #1d1f2e;
    font-size: 3.6rem;
    font-weight: 300;
    line-height: 50px;
    margin-top: 10px;
    margin-bottom: 15px;
  }

  .magazine-content_subheading {
    color: #1d1f2eb3;
    opacity: 0.8;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 28px;
    margin: 16px 0 26px 0;
  }
}

// transparent

.transparent {
  height: 340px;
  margin-bottom: 100px;
  background-image: url("../../images/bg-img-1.jpg");
  background-position: 50% 50%;
  background-size: cover;
  background-attachment: fixed;
}



